<nav>
    <ul class="menu__list">
        <li class="menu__item">
            <a
                class="menu__link"
                routerLink="/home"
                routerLinkActive="active"
            >
                Home
            </a>
        </li>
        <li class="menu__item">
            <a
                class="menu__link"
                routerLink="/collections"
                routerLinkActive="active"
            >
                Collections
            </a>
        </li>
    </ul>
</nav>
